@import url('https://fonts.googleapis.com/css?family=Poppins: 300,400,500,600,700,800,900display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
html{
	scroll-behavior: smooth;
}
*
{
	margin: 0;
	padding:0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: poppins, sans-serif;
}
header{
    height: 110vh;
    width: 100vw;
    background-image: url(antigone.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.navbar a{
    color: white;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 25px;
    font-size: 1.2em;
}
.navbar .nav-links ul li.active a{
    color: bisque;
    font-weight: 600;
}
.navbar .menu-btn{
    width: 35px;
    position: absolute;
    top: 50px;
    right: 30px;
    display: none;
}

#btn
{
	text-decoration:none;
	display: inline-block;
	padding: 8px 30px;
	background: #fff;
	color: rgb(232, 163, 79);
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 40px;	
	transform: translateY(100px);
}

section{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 55vh;
}

@media screen and (max-width:900px){
    section{
        margin-top: 80vh;
    }
    .navbar{
        padding: 0;
    }
    .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .navbar .menu-btn{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.299);
        backdrop-filter: blur(5px);
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}

#container3{
	text-align: center;
	background:#dbcc98;
}
.header{
	padding-top: 30px;
	color: #444;
	font-size: 20px;
	font-family: poppins;
	margin: auto;
	line-height: 50px;@media screen and (max-width: 900px)
}
.sb-container{
	max-width: 1200px;
	margin: auto;
	padding:30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.teams{
	margin: 10px;
	padding:22px;
	max-width: 30%;
	cursor: pointer;
	transition: 0.4s;
	box-sizing: border-box; 
}
.teams:hover{
	background: #ddd;
	border-radius: 12px;
}
.teams img{
	width: 200px;
	height: 200px;
}
.name{
	padding: 12px;
	font-weight:bold;
	font-size: 16px;
	text-transform: capitalize; 
}
.design{
	font-style: italic;
	color: #888;
	font-size: 17px;
}
.about{
	margin:20px 0;
	font-weight: lighter;
	color: #4e4e4e;
}
.social-links{
	margin: 14px;
	z-index: 2;
}
.social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	transition: 0.4s;
}
.social-links a:hover{
	transform: scale(1.5);
}
.social-links .fbb{
	color: #4267B2;

}
@media screen and (max-width: 900px){
	.teams{
		max-width: 100%;
	}
}
.cercle{
	clip-path: circle();
}
.ra{
	font-size: 70px;
	margin-left: 570px;
	font-family: rancho, sans-serif;
	color: #52BCF9;
	letter-spacing: 1px;
}
.social-links .fb{
	color: 	#EAF2F8;
}
.social-links .ig{
	color: #E1306C;
}

#section1{
    height: 100%;
    width: 100%;
    background-color: #9d7c61;
}

.img2{
	height: auto;
	width: 500px;
	margin-left: 3%;
	margin-top: 2%;
}
.text2{
    
	width: 100%;
    height: 100%;
	color: #444;
	margin: auto;
	padding-top: 4%;
	font-family: poppins, sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #3D3D48;
	text-align: center;
}
.text3{
	width: 95%;
	height: 100%;
	margin: auto;
	margin-top: 1%;
	font-family: play-fair, sans-serif;
	font-weight: 400;
	font-size: 130%;
	color: #000000; 
	padding-left: 2%;
	line-height: 1.6;
}
.flex{
	display: flex;
    padding-bottom: 4%;
}
@media screen and (max-width: 900px){
	.flex{
        display: flex;
        flex-direction: column;
    }
    .img2{
		width: 90%;
        height: 100%;
        margin: auto;
        padding-top: 3%;
	}
}
#section3{
    height: 100%;
    width: 100%;
    background-color: #858b9c;
}
.box1{
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding-right: 2%;
	padding-left:2%;
	padding-top: 5%;
}
.type{
	font-size: 1.5em;
	cursor:pointer;
	font-family: Playfair;
	padding-bottom: 5%;
}
.popup{
	width: 380px;
	display: block;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
	padding-top: 5%;
	font-size: 1.1em;
	display: none;
	text-justify: auto;
	margin: auto;
}
@media screen and (min-width: 900px){
	.img{
		height: 270px;
		width: 90%;
		padding-bottom: 5%;
	}
}
@media screen and (max-width: 900px){
	.box1{
		flex-direction: column;
		align-items: center;
		display: flex;
		padding-left: 0;
		padding-right: 0;
	}
	.box{
		margin: 25px 0;
	}
	.type{
		font-size: 1.4em;
	}
	.popup{
		width: 80%;
		margin: auto;
	}
	.img{
		width: 80%;
		padding-bottom: 2%;
	}
}
.controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	margin: auto;
	padding-top: 5%;
}
video{
    outline: 0px;
}
